/* CSS for tablet devices */
@media screen and (min-width: 576px) and (max-width: 820px) { 
	.hero { 
		
		background-image: none;
	    width: 100%; 
	    height: 85vh; 
	    display: flex; 
	    align-items: center; 
	    justify-content: start; 
	    margin: 4.8rem 0; 
	} 

	.hero .intro { 
		text-align: center; 
		margin: 0 12rem; 
	} 

	.logo { 
		padding: 0 3rem; 
	} 

	.toggle-container {
		display: block;
		padding: 0 1rem;
	}
	.hamburger { 
		display: block; 
		padding: 0 1rem; 
	} 

	.menu { 
		position: absolute; 
		right: 0; 
		padding: 0 1rem; 
		top: 45px; 
		background-image: linear-gradient(180deg, #2b2c2c, #2b2c2c, #2b2c2c); 
		display: none; 
		transition: all 0.25s; 
	} 

	.menu .menu-list { 
		flex-direction: column; 
	} 

	.portfolio { 
		padding: 0 1rem; 
	} 

	.about { 
		flex-direction: column; 
	} 

	.about .about-text { 
		padding: 2rem; 
	} 

	.about .about-image img { 
		padding: 2rem; 
	} 

	.services { 
		padding: 0 1rem; 
	} 

	.my-row { 
		gap: 10px; 
	} 

	.my-row .my-col { 
		text-align: center; 
		width: 35%; 
	} 

} 


/* CSS for mobile devices */
@media screen and (min-width: 280px) and (max-width: 576px) { 
	.hero { 
		
		background-image: none; 
	    width: 100%; 
	    height: 80vh; 
	    display: flex; 
	    align-items: center; 
	    justify-content: start; 
	    margin: 4.8rem 0; 
	} 


	.my-heading { 
		font-size: 1.9rem; 
		margin: 0; 
	} 

	.sub-heading { 
		color: #585454cc; 
		
	} 

	.hero .intro { 
		text-align: center; 
		margin: 0 3rem; 
	}

	.hero .intro-buttons { 
		gap: 20px; 
	} 

	.btn { 
		padding: 10px 30px; 
	} 

	.logo { 
		padding: 0 2rem; 
	} 

	.menu { 
		position: absolute; 
		right: 0; 
		padding: 0 0rem; 
		top: 45px; 
		background-image: linear-gradient(180deg, #2b2c2c, #2b2c2c, #2b2c2c); 
		display: none; 
		transition: all 0.25s; 
	} 

	.menu .menu-list { 
		flex-direction: column; 
	} 
	.toggle-container {
		display: block;
		padding: 0 1rem;
	}
	.hamburger { 
		display: block; 
		padding: 0 1rem; 
	} 

	.portfolio { 
		padding: 0 1rem; 
	} 

	.about {
		flex-direction: column; 
	} 

	.about .about-text { 
		width: 90%; 
		padding: 1rem; 
	} 

	.about .about-image img { 
		width: 80%; 
        height: 80%;
		padding: 2rem; 
	} 

	.services { 
		padding: 0 1rem; 
	} 

	.my-row { 
		display: flex; 
		align-items: center; 
		justify-content: space-between; 
		flex-direction: column; 
		margin: 2rem 0; 
		gap: 1rem; 
	} 

	.my-row .my-col { 
		text-align: center; 
		width: 100%; 
	} 

	.contact { 
		padding: 0; 
	} 

	.contact-content { 
		flex-direction: column; 
		align-items: center; 
		gap: 2rem; 
	} 

	.contact-form-container { 
		width: 80%; 
	} 

	.contact-form .form-controls { 
		width: 100%; 
	} 

	.contact-form .form-btn { 
		width: 100%; 
	} 

	.contact-details { 
		width: 80%; 
	} 

	.footer-menu { 
		padding: 0 2rem; 
	} 

	.footer-list-items { 
		margin: 0; 
	} 
}
